extend default

block content
  p.
    All scoring data is gathered from Rally America's website and there are 
    no guarantees of accuracy.  Inspiration for this was taken from the 
    #[a(href="http://www.daronhume.com/rally/combine.php5?new_rally=1&rally_id=colo&rally_year=2017") Rally America Combiner Thing].  
    This site caches times in it's own database to provide you fast
    page loads and to reduce the load on RA's site.  If you find this useful and want to help with the server costs you can #[a(href="PayPal.Me/LGSSnacks")buy me a coffe].

  p
    each year in years
      h1 #{year} Events
      ul
        each event in events[year]
          - 
            var url = "/ra/" + year + "/" + event.event_code
            var date = 'unknown date'
            if (event.start) {
              var monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
              ];
              date = monthNames[event.start.getMonth()] + ' ' + event.start.getDate()
              if(event.end) { date += ' - ' + event.end.getDate(); }
              date += ', ' + event.start.getFullYear()
            }

          li #[a(href=url) #{event.name}] - code: #{event.event_code} - #{date} #[strong #[font(color="red") #{event.live}]]
            if event.children
              ul
                each child in event.children
                  - var url = "/ra/" + year + "/" + child.event_code
                  li #[a(href=url) #{child.name}] - code: #{child.event_code}
      br

